.container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
}

.card {
  padding: 1.75rem;
  background-color: white;
  width: 672px;
  min-height: 80%;
  border-radius: 0.5rem;
  position: relative;
}

.close {
  color: black;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border-style: none;
  background-color: transparent;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
.close:hover {
  cursor: pointer;
  background-color: rgba(170, 170, 170, 0.5);
}

.icon {
  margin-right: 10px;
}

.cardName {
  padding-right: 1rem;
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.name-text {
  font-size: large;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-weight: bold;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.name-edit {
  font-size: large;
  padding: 0.5rem;
  border: none;
  font-weight: bold;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.listName {
  margin-top: 10px;
}
.listName span {
  text-decoration: underline;
}
.listName span:hover {
  cursor: pointer;
}

.createdDate {
  margin-top: 10px;
  font-weight: bold;
}

.descCon {
  padding-right: 1rem;
  width: 100%;
}

.description {
  font-size: 16px !important;
  margin-top: 10px;
  padding: 0.5rem;
  border: 1px transparent solid;
  border-radius: 2.5px;
  outline: none;
  font-weight: bold;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.description:hover {
  background-color: rgb(177, 177, 177);
  cursor: pointer;
}

.description-edit {
  font-size: 16px !important;
  margin-top: 10px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 2.5px;
  outline: none;
  font-weight: bold;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desc-buttons {
  margin-top: 10px;
}
.desc-buttons *:first-child {
  margin-right: 10px;
}

.btn {
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
}

.save {
  color: white;
  background-color: rgb(45, 108, 243);
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 20px;
}
.save:hover {
  background-color: rgb(31, 74, 167);
}

.cancel {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
}
.cancel:hover {
  background-color: rgba(163, 163, 163, 0.5);
}

.actionsCon {
  width: 30%;
}
.action-header {
  margin-bottom: 10px;
}

.actions-menu {
  width: 100%;
}
.actions-menu *:not(:last-child) {
  margin-bottom: 5px;
}

.dropdownCon {
  position: relative;
}

.action-button {
  color: black;
  width: 100%;
  border: none;
  background-color: rgb(197, 197, 197);
  padding: 0.35rem;
  border-radius: 2.5px;
  text-align: left;
  align-items: center;
}
.action-button:hover {
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}
.action-button:not(:last-child) {
  margin-bottom: 5px;
}
.action-button *:first-child {
  margin: 0 10px 0 0;
}

.dropdown {
  border: 1px gray solid;
  width: 100%;
  padding: 0.5rem;
  top: 1.75rem;
  left: 0;
  position: absolute;
  align-items: center;
  background-color: white;
  z-index: 5 !important;
}
.dropdown-title {
  width: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 5px;
}
.dropdown-title *:last-child {
  color: black;
  background-color: none;
  border: none;
  position: absolute;
  right: 0;
}
.dropdown-title *:last-child:hover {
  cursor: pointer;
}
.dropdown hr {
  width: 100%;
}
.dropdown p {
  margin-bottom: 10px;
}

.dropdownSec {
  background-color: #7a7a7a;
}

.dropdown-menu {
  margin-top: -20px;
}

.dropdown-select {
  color: black;
  background-color: #416ea7;
  padding: 0.5rem;
  height: 35px;
  width: 100%;
  border: none;
  text-align: left;
}

.list-button {
  color: black;
  background-color: transparent;
  padding: 0.5rem;
  height: 35px;
  width: 100%;
  border: none;
  text-align: left;
}
.list-button:hover {
  background-color: #adadad;
  transition-duration: 250ms;
  cursor: pointer;
}

.copy-input {
  height: 60px;
  font-size: 16px !important;
  resize: vertical;
}

.confirm-button {
  padding: 5px 0;
  border-radius: 5px;
  width: 100%;
  border: none;
  color: white;
}
.confirm-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}
.delete-button {
  background-color: rgb(176, 70, 50);
}
.other-button {
  background-color: rgb(45, 108, 243);
}

@media screen and (min-device-width: 600px) and (min-device-height: 450px) {
  .card {
    margin: 50px 0;
  }
}
