#togBackground {
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  position: absolute;
}
#list-menu {
  background-color: white;
  border-radius: 5px;
  border: 1px #979797 solid;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#list-menu-header {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#list-menu-header * {
  display: inline-block;
}
#list-menu-header button {
  color: #424242;
  background-color: transparent;
  border: none;
}
#hide {
  opacity: 0;
}
#show {
  opacity: 1;
}
#show:hover {
  cursor: pointer;
}
#list-menu-close:hover {
  cursor: pointer;
  color: rgb(20, 20, 20);
}

hr {
  width: 95%;
}

.list-buttons-con {
  width: 100%;
}

.list-button {
  color: black;
  background-color: transparent;
  padding: 0.5rem;
  height: 35px;
  width: 100%;
  border: none;
  text-align: left;
}
.list-button:hover {
  background-color: #adadad;
  transition-duration: 250ms;
  cursor: pointer;
}

.dropdown-con {
  background-color: #7a7a7a;
}

.dropdown-menu {
  margin-top: -20px;
}

.dropdown-select {
  color: black;
  background-color: #416ea7;
  padding: 0.5rem;
  height: 35px;
  width: 100%;
  border: none;
  text-align: left;
}

.copy-input {
  height: 60px;
  font-size: 16px !important;
  resize: vertical;
}

@media screen and (max-device-width: 600px), (max-device-height: 450px) {
  #togBackground {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #list-menu {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
