* {
  margin: 0;
  padding: 0;
}
p,
h3 {
  margin: 0;
}

p {
  font-size: medium;
}

::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #737f99;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
}

.App {
  background-color: #282c34;
  min-width: 100vw;
  max-height: 100vh;
}

.board-title {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 0.5rem;
}
.board-text {
  border-radius: 5px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  background-color: transparent;
  border-style: none;
  padding: 0.5rem 5px;
}
.board-text:hover {
  background-color: rgba(19, 20, 24, 0.5);
  transition-duration: 250ms;
  cursor: pointer;
}
.board-text:focus {
  background-color: white;
}
