* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #737f99;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

.App {
  background-color: #282c34;
  min-width: 100vw;
  max-height: 100vh;
}

.board-title {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 0.5rem;
}

.list-space {
  padding: 0 0.5rem;
  gap: 0.5rem;
  height: 90vh;
  display: flex;
  align-items: start;
  overflow-x: scroll;
  overflow-y: hidden;
}

.list {
  min-width: 300px;
  max-height: 85vh;
  background-color: #484f5e;
  border-radius: 5px;
  padding: 0.5rem;
  overflow-y: scroll;
}

.list-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

.list-item {
  font-size: 1.2rem;
  background-color: white;
  color: #282c34;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
.list-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.current {
  background-color: #282c34;
}
